* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.h1{
  font-family: Shrikhand;
}

.box{
  background-color: #d6d6d6;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 65px;
  padding-bottom: 65px;
  position: center;
}

.siteTitle {
  border-bottom: 4px solid #ff0084;
  background: #85e9be;
  padding: 1%;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
  border-radius: 11px;
}

.mainText {
  font-size: 2.5em;
  font-family: Shrikhand;
}

.btnContainer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.btn {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: black;
  font-size: 2em;
  height: 60px;
  width: 200px;
  font-family: Thasadith;
}

.btn:hover {
  background-color: #adadad;
  color: black;
}

.btn-caption {
  color: #000000;
  font-size: 30px;
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  font-family: Thasadith;
}

.btn-result {
  color: black;
  font-size: 10px;
  position:
}
