* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: contain;
}

.h1{
  font-family: Shrikhand;
}

.box{
  background-color: #d6d6d6;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 70px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 10px;
  padding-top: 65px;
  position: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 11px;
  object-fit: contain;
}

.questionTxt {
  font-size: 40px;
  font-family: Shrikhand;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}

.btn {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #f9f9f9;
  color: black;
  font-size: 2em;
  height: 60px;
  width: 200px;
  font-family: Thasadith;
}

.btn:hover {
  background-color: #adadad;
}

.btn-caption {
  color: #000000;
  font-size: 30px;
  display: block;
  top: 50px;
  width: 100%;
  text-align: center;
  font-family: Thasadith;
}

/* responsive code */

@media (max-width:1200px){
  .h1{
    font-size: 30px;
  }
  .wrapper{
    display: flex;
  }
  .questionTxt{
    font-size: 25px;
  }
  .btn{
    height:60px;
    width: 200px;
    font-size: 1.5em;
  }
  .btn-caption{
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .h1 {
    font-size: 25px;
  }
  .wrapper{
    display: flex;
  }
  .questionTxt{
    font-size: 30px;
  }
  .container{

  }
  .btn{
    height: 50px;
    width: 150px;
    font-size: 1.5em;
  }
  .btn-caption{

  }
}



@media (max-width: 750px) {
  .h1{
    font-size: 15px;
  }
  .wrapper{
    display: flex;
  }
  .questionTxt{
    font-size: 20px;
  }
  .btn{
    height:40px;
    width: 80px;
    font-size: 1em;
  }
  .btn-caption{
    font-size: 20px;
  }
}
